<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1"; charset="utf-8" />
    <title>ACISP 2022</title>
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
	<style>
      table,table tr th, table tr td { border:1px solid lightslategray; }
      table { line-height: 25px; text-align: center; border-collapse: collapse;}
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="top">27th Australasian Conference on Information Security and
        Privacy<br />
        28 - 30 November 2022, Wollongong, Australia</div>

      <div class="site-section hidden-xs">
                    <div id="myCarousel" class="carousel slide mastslide" data-ride="carousel">
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/slide1.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="img/slide2.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="img/slide3.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="img/slide4.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="img/slide5.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="img/slide6.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="img/slide7.jpg" alt="...">
                            </div>
                        </div>

                        <a class="left carousel-control" href="program.html#myCarousel" role="button" data-slide="prev"></a>
                        <a class="right carousel-control" href="program.html#myCarousel" data-slide="next"></a>
                    </div>
         </div>
		
	  
      <div id="content">
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="cfp.html">Call for Papers</a></li>
			<!--
			<li><a href="si.html">Special Issues</a></li>
			-->
            <li><a href="pc.html">Program Committee</a></li>
            <li><a href="reg.html">Registration</a></li>
            <li><a href="accepted.html">Accepted Papers</a></li>
            <li><a href="program.html">Technical Program</a></li>
            <li><a href="keynote.html">Keynote Speakers</a></li>
			<!--
			<li><a href="visa.html">Visa Information</a></li>
			-->
            <li><a href="venue.html">Conference Venue</a></li>
            <!--
			<li><a href="accomodation.html">Accommodation</a></li>
			-->
            <li><a href="contact.html">Contact Us</a></li>
			<li><a href="https://isc2022.petra.ac.id/" target="_blank">ISC 2022</a></li>
	    <li><a href="https://provsec2022.github.io/ProvSec2022/" target="_blank">Provsec 2022</a></li>
			<!--
	<li><a href="https://ssl.informatics.uow.edu.au/provsec2018/">Provsec2018</a></li>
	<li><a href="http://www.authiot2018.conferences.academy/">AuthIOT2018</a></li>
	-->
          </ul>
		  </br>
<!--		  
		  <h2>Sponsors:</h2>  </br>
		

          <a href="https://eis.uow.edu.au/scit/institute-cybersecurity-cryptology/index.html"><h1>iC<sup>2</sup> </h1></a>   	 </br>   
-->
                  <a href="https://www.uow.edu.au/engineering-information-sciences/research/institute-cybersecurity-cryptology/" target="_blank"><img class="img-sponsor" alt="Springer" src="img/ic2.png"></a> </br> 
		  </br><a href="https://www.abelian.info/" target="_blank"><img class="img-sponsor" alt="ABEL" src="img/abel.jpg"></a> </br> 
		<!--
                   <img class="img-sponsor" alt="Springer" src="img/d61.png"> </br> 


                   <img class="img-sponsor" alt="Springer" src="img/csiro.png"> </br> 

                   <img class="img-sponsor" alt="Springer" src="img/dst.png"> </br> 
		 
		  <img class="img-sponsor" alt="Springer" src="img/cryptojournal.png"> </br>
		  
                 <img class="img-sponsor" alt="Springer" src="img/NSWCYBERLogo.jpg"> </br>
<img class="img-sponsor" alt="Springer" src="img/office.jpg"> </br>
				 
				 <img class="img-sponsor" alt="Springer" src="img/itree.png"> </br>	
				 
				 <img class="img-sponsor" alt="Springer" src="img/studio-small.png"> </br>	
		  
		  -->
        </div>
        <div id="stuff">
		<br /><br />
          <div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder;">
		  Temporary free access to the conference proceedings will be available on <div style="font-size: larger;"><a href="https://link.springer.com/book/10.1007/978-3-031-22301-3" target="_blank">SpringerLink</a></div> between 30 Nov and 30 Dec 2022.
       </div>
	   <br /><br /><br />
		  <h2>Conference Program</h2>
          
		  
<!--<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Conference Program
       </div>-->
  <!--
  
  
  -->
       <div style="display: block; height: 25px;text-align: left; text-indent: 20px; margin-top: 5px; font-size:normal">
         <!--<b>Notes:</b>All times and dates are shown in AEDT(UTC+11).
		 -->
       </div>
       <div>
       <table style=" vertical-align:middle; text-align: center; border-style: 1px solid black; width: 100%; height: 100%;">
         <tr >
           <td  style="background-color:goldenrod;">
            Local Time
           </td>
		   <td  style="background-color:goldenrod;">
            AEDT(UTC+11)
           </td>
		   <td  style="background-color:goldenrod;">
            Day 1 (28/11/22)
           </td>
         </tr>
         <tr >
		 <!--
           <td style="width: 20%;" id="td1" v-if="9-clock>=0">
             {{9-clock}}:00-{{9-clock}}:30
           </td>
		   <td v-else>
		   {{24+(9-clock)}}:00-{{24+(9-clock)}}:30
		   </td>
		   -->
       <script>
        //日期加减计算
        function dateadd(sdate){
          date = new Date(sdate)
          // console.log(date.getFullYear())
          // console.log(date.getMonth() + 1)
          // console.log(date.getDate())
          // console.log(date.getHours())
          // console.log(date.getMinutes())
          // console.log(date.getSeconds())
          meeting_utc = Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds())
          raw_timezone = -new Date().getTimezoneOffset()/60
          // raw_timezone = -7
          local_timezone = raw_timezone * 100
          meeting_timezone = 1100
          diff_timezone = -(meeting_timezone - local_timezone)/100 * 60
          diff_utc = diff_timezone * 60 * 1000
          local_utc = meeting_utc + diff_utc
          var local_date = new Date(local_utc);
          return local_date
        }

        function convert(timeId, did){
          time = document.getElementById(timeId).innerText.split("-")
          console.log(time[0], time[1])
          start_time = "2022-11-28 " + time[0]
          end_time = "2022-11-28 " + time[1]
          stime = dateadd(start_time)
          etime = dateadd(end_time)
          stime_string = stime.getUTCHours().toString().padStart(2, '0') + ":" + stime.getUTCMinutes().toString().padStart(2, '0') + "-" + etime.getUTCHours().toString().padStart(2, '0') + ":" + etime.getUTCMinutes().toString().padStart(2, '0')
          
          a_date = new Date(start_time)
          value = stime.getUTCDate() - a_date.getDate()
          if (value) {
            document.getElementById(did).innerHTML = stime_string + "<sup style='color:red'>-1</sup>"
          } else{
            document.getElementById(did).innerHTML = stime_string
          }
        }

       </script>
		   <td id="id1">
		   </td>
		   <td id="time1">
		   09:00-09:30
		   </td>
           <td>
             Registration
           </td>
         </tr>
         <tr >
		  <td id="id2">
		   </td>
		  <td id="time2">
		   09:30-09:45
		   </td>
          <td>
            Inauguration
          </td>
        </tr> 
        <tr >
          <td id="id3">
		  <!--
		  <span v-if="9-clock>=0">{{9-clock}}:45-</span>
		  <span else>{{24+(9-clock)}}:45-</span>
          <span v-if="10-clock>=0">{{10-clock}}:45</span>
		  <span else>{{24+(10-clock)}}:45</span>
		  -->
          </td>
		  <td id="time3">
		   09:45-10:45
		   </td>
          <td>
            Jennifer Seberry Lecture<br />
		Speaker: Huaxiong Wang<br />
		Session Chair: Willy Susilo
          </td>
        </tr> 
        <tr >
          <td id="id4">
          </td>
		  <td id="time4">
		   10:45-11:15
		   </td>
          <td>
            Coffee Break
          </td>
        </tr> 
        <tr >
          <td id="id5">
          </td>
		  <td id="time5">
		   11:15-12:30
		   </td>
          <td>
            Session 1: Symmetric-Key Cryptology I (3 talks)<br />
			Session Chair: Amin Sakzad
          </td>
        </tr> 
        <tr >
          <td id="id6">
          </td>
		  <td id="time6">
		   12:30-13:40
		   </td>
          <td>
            Lunch Break
          </td>
        </tr> 
        <tr >
          <td id="id7">
          </td>
		  <td id="time7">
		   13:40-15:20
		   </td>
          <td>
            Session 2: Cryptographic Protocols (4 talks)<br />
			Session Chair: Ron Steinfeld
          </td>
        </tr> 
        <tr >
          <td  id="id8">
          </td>
		  <td id="time8">
		   15:20-15:45
		   </td>
          <td>
            Coffee Break
          </td>
        </tr> 
		<tr >
          <td id="id9">
          </td>
		  <td id="time9">
		   15:45-17:00
		   </td>
          <td>
            Session 3: Post-Quantum Cryptography (3 talks)<br />
			Session Chair: Tjerand Silde
          </td>
        </tr> 
		<tr >
          <td rowspan="2" id="id10">
          </td>
		  <td rowspan="2" id="time10">
		   17:10-18:00
		   </td>
          <td>
            Australasian Researchers’ Meeting
          </td>
        </tr> 
		<tr >
          <td>
			Steering Committee Meeting
          </td>
        </tr>
		<tr >
		<td  style="background-color:goldenrod;">
            Local Time
           </td>
		   <td  style="background-color:goldenrod;">
            AEDT(UTC+11)
           </td>
           <td  style="background-color:goldenrod;">
            Day 2 (29/11/2022)
           </td>
         </tr>
         <tr >
           <td style="width: 20%;" id="id11">
           </td>
		   <td id="time11">
		   09:15-09:30
		   </td>
           <td>
             Registration
           </td>
         </tr>
         <tr >
          <td  id="id12">
          </td>
		  <td id="time12">
		   09:30-10:30
		   </td>
          <td>
            Keynote Talk<br />
			Speaker: Jing Chen<br />
			Session Chair: Guomin Yang
          </td>
        </tr> 
        <tr >
          <td id="id13">
          </td>
		  <td id="time13">
		   10:30-10:50
		   </td>
          <td>
		  Coffee Break
          </td>
        </tr> 
        <tr >
          <td id="id14">
          </td>
		  <td id="time14">
		   10:50-12:30
		   </td>
          <td>
            Session 4: Blockchain (4 talks)<br />
			Session Chair: Yannan Li
          </td>
        </tr> 
        <tr >
          <td id="id15">
          </td>
		  <td id="time15">
		   12:30-13:40
		   </td>
          <td>
            Lunch Break
          </td>
        </tr> 
        <tr >
          <td id="id16">
          </td>
		  <td id="time16">
		   13:40-15:20
		   </td>
          <td>
            Session 5: Public-Key Cryptography (4 talks)<br />
			Session Chair: Sushmita Ruj
          </td>
        </tr> 
        <tr >
          <td id="id17">
          </td>
		  <td id="time17">
		   15:20-15:45
		   </td>
          <td>
            Coffee Break
          </td>
        </tr> 
		<tr >
          <td id="id18">
          </td>
		  <td id="time18">
		   15:45-17:00
		   </td>
          <td>
            Session 6: Public-Key Cryptanalysis (3 talks)<br />
			Session Chair: Dung Duong
          </td>
        </tr> 
		<tr >
          <td id="id19">
          </td>
		  <td id="time19">
		   18:00-21:00
		   </td>
          <td>
		  Conference Banquet
          </td>
        </tr>
		<tr >
			<td  style="background-color:goldenrod;">
            Local Time
           </td>
		   <td  style="background-color:goldenrod;">
            AEDT(UTC+11)
           </td>
           <td style="background-color:goldenrod;">
            Day 3 (30/11/2022)
           </td>
         </tr>
         <tr >
           <td style="width: 20%;" id="id20">
           </td>
		   <td id="time20">
		   09:15-09:30
		   </td>
           <td>
             Registration
           </td>
         </tr>
         <tr >
          <td id="id21">
          </td>
		  <td id="time21">
		   09:30-10:30
		   </td>
          <td>
            Keynote Talk<br />
			Speaker: Yuval Yarom<br />
			Session Chair: Khoa Nguyen
          </td>
        </tr> 
        <tr >
          <td id="id22">
          </td>
		  <td id="time22">
		   10:30-10:50
		   </td>
          <td>
		  Coffee Break
          </td>
        </tr> 
        <tr >
          <td id="id23">
          </td>
		  <td id="time23">
		   10:50-12:30
		   </td>
          <td>
            Session 7: Symmetric-Key Cryptology II (4 talks)<br />
			Session Chair: Josef Pieprzyk
          </td>
        </tr> 
        <tr >
          <td id="id24">
          </td>
		  <td id="time24">
		   12:30-12:40
		   </td>
          <td>
            Closing Remark
          </td>
        </tr> 
        <tr >
          <td id="id25">
          </td>
		  <td id="time25">
		   12:40-14:00
		   </td>
          <td>
            Lunch Break
          </td>
        </tr> 
       </table></div>
		  
		  <br /><br /><br />
		<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 1: Symmetric-Key Cryptology I
       </div>
	   <h5><strong>Key Structures: Improved Related-Key Boomerang Attack against the Full AES-256</strong></h5>
<p>Jian Guo, Ling Song, Haoyang Wang
<p>Speaker: Jian Guo (in person)
<p>(Best Paper Award)

<h5><strong>Truncated Differential Properties of the Diagonal Set of Inputs for 5-round AES</strong></h5>
<p>Lorenzo Grassi, Christian Rechberger
<p>Speaker: Lorenzo Grassi (online)

<h5><strong>PNB-focused Differential Cryptanalysis of ChaCha Stream Cipher</strong></h5>
<p>Shotaro Miyashita, Ryoma Ito, Atsuko Miyaji
<p>Speaker: Shotaro Miyashita (online)

<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 2: Cryptographic Protocols
       </div>
<h5><strong>Verifiable Decryption in the Head</strong></h5>
<p>Kristian Gjøsteen, Thomas Haines, Johannes Müller, Peter Rønne, Tjerand Silde
<p>Speaker: Tjerand Silde (in person)

<h5><strong>Resumable Zero-Knowledge for Circuits from Symmetric Key Primitives</strong></h5>
<p>Handong Zhang, Puwen Wei, Haiyang Xue, Yi Deng, Jinsong Li, Wei Wang, Guoxiao Liu
<p>Speaker: Puwen Wei (online)

<h5><strong>On Security of Fuzzy Commitment Scheme for Biometric Authentication</strong></h5>
<p>Donghoon Chang, Surabhi Garg, Munawar Hasan, Sweta Mishra
<p>Speaker: Sweta Mishra (in person)

<h5><strong>SoK: Decentralized Randomness Beacon Protocols</strong></h5>
<p>Mayank Raikwar, Danilo Gligoroski
<p>Speaker: Mayank Raikwar (in person)

<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 3: Post-Quantum Cryptography
       </div>
<h5><strong>Fiat-Shamir Signatures based on Module-NTRU</strong></h5>
<p>Shi Bai, Austin Beard, Floyd Johnson, Sulani K.B.Vidhanalage, Tran Ngo
<p>Speaker: Floyd Johnson (online)

<h5><strong>Speeding-Up Isogeny Computation using Precedence-Constrained Scheduling</strong></h5>
<p>Kittiphon Phalakarn, Vorapong Suppakitpaisarn, M. Anwar Hasan
<p>Speaker: Kittiphon Phalakarn (in person)

<h5><strong>An Injectivity Analysis of Crystals-Kyber and Implications on Quantum Security</strong></h5>
<p>Xiaohui Ding, Muhammed F. Esgin, Amin Sakzad, Ron Steinfeld
<p>Speaker: Xiaohui Ding (online)

<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 4: Blockchain
       </div>
<h5><strong>CCOM: Cost-Efficient and Collusion-Resistant Oracle Mechanism for Smart Contracts</strong></h5>
<p>Xiaofei Wu, Hao Wang, Chunpeng Ge, Lu Zhou, Qiong Huang, Lanju Kong, Lizhen Cui, Zhe Liu
<p>Speaker: Xiaofei Wu (online)
<p>(Best Paper Award)

<h5><strong>DeChain: A Blockchain Framework Enhancing Decentralization via Sharding</strong></h5>
<p>Shenwei Chen, Zhen Liu, Yu Long, Dawu Gu
<p>Speaker: Shenwei Chen (online)

<h5><strong>Garrison: A Novel Watchtower Scheme for Bitcoin</strong></h5>
<p>Arash Mirzaei, Amin Sakzad, Jiangshan Yu, Ron Steinfeld
<p>Speaker: Arash Mirzaei (in person)

<h5><strong>Shoot Before You Escape: Dynamic Behavior Monitor of Bitcoin Users via Bi-Temporal Network Analytics</strong></h5>
<p>Chen Zhao, Jianing Ding, Zhenzhen Li, Zhen Li, Gang Xiong, Gaopeng Gou
<p>Speaker: Chen Zhao (online)

<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 5: Public-Key Cryptography
       </div>

<h5><strong>Chosen Ciphertext Secure Keyed Two-Level Homomorphic Encryption</strong></h5>
<p>Yusaku Maeda, Koji Nuida
<p>Speaker: Yusaku Maeda (online)

<h5><strong>Structure-preserving Linearly Homomorphic Signature with Designated Combiner for Subspace</strong></h5>
<p>Yumei Li, Mingwu Zhang, Futai Zhang
<p>Speaker: Yumei Li (online)

<h5><strong>TIDE: A novel approach to constructing timed-release encryption</strong></h5>
<p>Angelique Faye Loe, Liam Medley, Christian O'Connell, Elizabeth A. Quaglia
<p>Speaker: Liam Medley (in person)

<h5><strong>Multi-signatures for ECDSA and its Applications in Blockchain</strong></h5>
<p>Shimin Pan, Kwan Yin Chan, Handong Cui, Tsz Hon Yuen
<p>Speaker: Shimin Pan (in person)

<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 6: Public-Key Cryptanalysis
       </div>
<h5><strong>Handle the Traces: Revisiting the Attack on ECDSA with EHNP</strong></h5>
<p>Jinzheng Cao, Yanbin Pan, Qingfeng Cheng, Xinghua Li
<p>Speaker: Jinzheng Cao (online)

<h5><strong>Hybrid Dual and Meet-LWE Attack</strong></h5>
<p>Lei Bi, Xianhui Lu, Junjie Luo, Kunpeng Wang
<p>Speaker: Lei Bi (online)

<h5><strong>Cryptanalysis and Repair of a Gabidulin Code Based Cryptosystem from ACISP 2018</strong></h5>
<p>Wenshuo Guo, Fang-Wei Fu
<p>Speaker: Wenshuo Guo (online)

<div style="display: block; height: 40px;text-align: center; color:blue; font-weight: bolder; font-size: larger;">
        Session 7: Symmetric-Key Cryptology II
       </div>
<h5><strong>Improved Differential Attack on Round-Reduced LEA</strong></h5>
<p>Yuhan Zhang, Wenling Wu, Lei Zhang
<p>Speaker: Yuhan Zhang (online)

<h5><strong>Implementing Grover Oracle for Lightweight Block Ciphers under Depth Constraints</strong></h5>
<p>Subodh Bijwe, Amit Kumar Chauhan, Somitra Kumar Sanadhya
<p>Speaker: Amit Kumar Chauhan (online)

<h5><strong>Improved Division Property for Ciphers with Complex Linear Layers</strong></h5>
<p>Yongxia Mao, Wenling Wu, Bolin Wang, Li Zhang
<p>Speaker: Yongxia Mao (online)

<h5><strong>Fast Skinny-128 SIMD Implementations for Sequential Modes of Operation</strong></h5>
<p>Alexandre Adomnicai, Kazuhiko Minematsu, Maki Shigeri
<p>Speaker: Alexandre Adomnicai (online)
  </div>
		  
		  


        </div>
      </div>
      <div id="bottom">
        <center>

        </center>
      </div>
    </div>
    
	  <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
    <script type="text/javascript">
      new Vue({
          el:'#wrapper',
          data:{
              message:"123465",
              clock:''
          },
          computed:{
              msg(){
                  console.log("msg==");
                  return '789456';
              }
          },
          methods:{
              conOut(){
                  console.log("调用输出",this.msg);
              },
              getLocalTime(nS) {  
                return new Date(parseInt(nS)).toLocaleString().replace(/:\d{1,2}$/,' ');  
              },
          },
          beforeMount(){
            var timenow = new Date();
            var offset = -timenow.getTimezoneOffset()/60;
            console.log(offset); // 这个是获取到你当前的时区
            // var hour = 11 - offset;
            this.clock = 11 - offset;
            console.log(this.clock);
            console.log("挂载前生命周期");
          },
          mounted(){
              console.log("挂载完成生命周期");
          },
          watch:{
              'message'(){
                  console.log("监视器调用");
              }
          }
      })
      for(i = 1; i <= 25; i++) {
        convert("time".concat(i), "id".concat(i))
      }

  </script>

	<script>
  //  var wordTime = new Date(new Date().setUTCHours(24-offset+9, 0, 0, 0)).getTime();
   // 括号里数字可以随意更改，意思是世界时间的0小时0分0秒0毫秒（如果你的时区比世界时间晚5小时，你的9点就是世界时间的14点，括号内0换成14）
  //  console.log(wordTime);
  //  var endtime = getLocalTime(wordTime);
  //  console.log(endtime);
  //  $('#td1').html(endtime);
	</script>

	
  </body>
</html>
